In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('daftarnilai.csv')
df

    Matematika  Fisika  Kimia  Biologi
0           67      77     71       77
1           72      83     70       79
2           75      92     80       75
3           65      79     77       90
4           66      72     67       92
..         ...     ...    ...      ...
95          73      89     70       87
96          85      83     85       93
97          71      86     84       84
98          77      78     77       78
99          81      82     83       84

[100 rows x 4 columns]

In [8]:
from IPython.display import HTML, display
import tabulate
table=[
        ["method"]+[x for x in df.columns],
        ["describe()"]+['<pre>'+str(df[col].describe())+'</pre>' for col in df.columns],
        ["count()"]+[df[col].count() for col in df.columns],
        ["mean()"]+[df[col].mean() for col in df.columns],
        ["std()"]+["{:.2f}".format(df[col].std()) for col in df.columns],
        ["min()"]+[df[col].min() for col in df.columns],
        ["max()"]+[df[col].max() for col in df.columns],
        ["q1()"]+[df[col].quantile(0.25) for col in df.columns],
        ["q2()"]+[df[col].quantile(0.50) for col in df.columns],
        ["q3()"]+[df[col].quantile(0.75) for col in df.columns],
        ["skew()"]+["{:.2f}".format(df[col].skew()) for col in df.columns],
     ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))